@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  font-weight: bold;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul{
  list-style: none;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {color: blue;}
a:active {text-decoration: none;}
a {color: black;}


.header {
  display: flex;
  justify-content: space-between;
}

.left-links {
  display: flex;
}

.about {
  margin-right: 16px;
}

.right-links {
  display: flex;
  margin-right: 16px;
}

.settings {
  margin-left: 16px;
}

.image {
  display: flex;
  justify-content: center;
  margin-top: 137.5px;
}

.input {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.dtf {
  margin-right: 8px;
}

.footer {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  background-color: #ddd;
}

.advertising {
  margin-right: 16px;
}

.privacy {
  margin-right: 16px;
}


body {
  display: flex;
  flex-direction: column;
}

